*{
    padding: 0%;
  margin: 0%;;  
}

.container{
    background-color: rgb(62, 115, 162);
    display: flex;
    
    /*felx-direction:row;
    flex-direction: row-reverse;
    flex-dirction: colum;
    flex-direction: column-reverse; */


    flex-flow: row wrap;
    /*column-wrap:30px;
    row-gap: 220px: */
    gap:20px;
}
.container>.item{
    background-color: #ccc;
    padding: 20px;
    width: 28.33%;

}

/*p3 html code*/

.container1{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: start;
    justify-content: end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
}
.container1>.item{
    background-color: gray;
    width: 31.33%;
}

/*p4 html*/
.conatiner2{
    height: 400px;

    
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;
}
.conatiner2>.item{
    height: 50px;
}

.conatiner3>.item{
    width: 200px;
    height: 100px;
    flex-grow: 1;
    flex: 1;
}
.conatiner3>.item:first-child{
    flex: 2;
}
.conatiner3>.item:last-child{
    flex: 3;
}

.conatiner4{
    flex-wrap: nowrap;
}
.conatiner4>.item{
    flex-shrink: 1;
}
.container4>.item:first-child{
    flex-shrink: 5;
}
.conatiner4>.item:last-child{
    flex-shrink: 9;
}
