*{
    margin: 0px;
    padding: 0px;

}
section{
    background-color: #2eadd4;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
}
.transition{
     transition: 2000ms;
     transition: 2s;
     transition: color 2s;
     transition: background-color calc(1s + 1s);



}
.transition:hover{
    background-color: #585454;
    color: white;
}
 /*bgclip*/

 .bgclip{
    border: 5px dotted rgb(29, 106, 169);
    border-radius: 10px;
    text-align: justify;
    transition: 2s;
    background-clip: content-box;
    background-clip: padding-box;
    background-clip: border-box;
 }
 .bgclip:hover{
    border-radius: 50%;
    text-align: center;
 }

 /* p3 html code*/

 .common{
    width: 400px;
    height: 100px;
    margin: 20px;
    background-color: rgb(255, 55, 55);
    color: white;
    transition: width 2s;
    font-size: 30px;
 }
 .common:hover{
    width:100px;
    background-color: yellow;
 }


 #d1{
transition-timing-function: linear;

 }
 #d2{
    transition-timing-function: ease-in ;
 }
 
 #d3{
    transition-timing-function: ease-out;
 }
 
 #d4{
    transition-timing-function: ease ;
 }
 
 #d5{
    transition-timing-function: ease-out ;
 }
 
 #d6{
    transition-timing-function: steps(6,jump-start) ;
 }
 
 #d7{
    transition-timing-function: cubic-bezier(0.5,0.7,0.8,0.1) ;
 }
 
 
